body {
  margin: 0;
}
.cv-header {
  margin: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cv-header h2 {
  font-weight: normal;
}
.user-info {
  margin-top: 20px;
}

.cv-header-divider {
  border-top: 6px solid orange;
  width: 100%;
  margin: 0;
}

.section {
  margin: 24px;
  display: flex;
  flex-direction: row;
}

.section p,
h4 {
  margin-left: 12vw;
  padding: 0;
  margin-bottom: 0;
  margin-top: 8px;
}

.section h3 {
  margin-top: 0;
  margin-right: 18px;
  font-style: italic;
  width: 0;
}

.section-job {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
